language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
branches:
  except:
    - php-52
before_script: composer self-update && composer install
script: "./vendor/bin/phpunit && ./vendor/bin/phpcs -n src/"
